<div class="form-group <%= className %>">

    <label class="property-label"><%= options.label %></label>
    <input <%- attributes %> type="text" name="<%= name %>" value="<%= value %>" class="form-control">

</div>